@import './styles/weathericons.css';

.app__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app__select {
  min-width: 20rem;
}
.app__forcast {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.app__forcast__card {
  margin: 0.5rem;
  padding: 0.2rem 1rem;
}
.app__forcast__card div {
  text-align: center;
  font-size: 1rem;
}
.app__weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.app__weather__header {
  text-align: center;
  padding: 0.2rem 1rem;
  margin: 0.2rem;
  background-color: #9161BB;
}
.app__weather__card div{
  text-align: center;
  font-size: 2rem;
}
.app__weather__header__card {
  margin: 1rem;
  padding: 0.2rem 1rem;
}
.app__weather__card__loader {
  min-height: 5.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  border: 0.5rem solid #f3f3f3;
  border-radius: 50%;
  border-top: 0.5rem solid #9161BB;
  width: 1rem;
  height: 1rem;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}